<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Data</title>
</head>
<body>
    <h1><%= title %></h1>
    <% if (data.length > 0) { %>
        <% data.forEach(item => { %> 
            <h4><%= item.title %></h4>
            <h4><%= item.description %></h4>
            <h4><%= item.published %></h4> 
            <p><%= item.createdAt %></p>
            <span><%= item.updatedAt %></span><hr>
        <%  }) %>
    <%} else { %> 
        <h2> No data found </h2>
      <% } %>
</body>
</html>